{% extends 'main.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/category_products.css') }}">
{% endblock %}
{% block content %}
<!-- This goes somewhere in your main layout -->
<div class="search-box">
    <input type="text" id="product-search-cat" class="form-control" placeholder="Поиск...">
</div>
<button style="
margin-top: 20px;
margin-left: 10px;
background-color: rgb(26, 91, 145);
border-color: white;
width: 100px;
"class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft">Каталог</button>
<!-- This is your sidebar -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasLeftLabel" style="color: rgb(26, 91, 145); font-size: 25px;">Категории</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <!-- Here you can add your content or links -->
        <ul>
            {% for cat in categories %}
                <li><a href="{{ url_for('filter_category', category_id=cat.id) }}" style="text-decoration: none; color: #61917c; font-size: 20px;">{{ cat.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="container">
    <div class="main-part">
        {% if message %}
            <p style="font-size: 25px; color: rgb(170, 162, 162); padding-left: 440px">{{ message }}</p>
        {% endif %}
        <div class="row justify-content-center">
        </div>
    </div>
</div>
<script>
    let products = JSON.parse('{{ products|tojson|safe }}');
    let all_prods = JSON.parse('{{ products|tojson|safe }}');
    
    function renderGrid() {
        let gridContainer = document.querySelector('.main-part .row');
        gridContainer.innerHTML = '';
        products.forEach(function(product) {
            let productCard = document.createElement('div');
            productCard.className = 'col-lg-2 col-md-6 col-sm-12';
            let imageUrl = `http://localhost:5000/static/${product.image_path}`;
            productCard.innerHTML = `
                <div class="product-card">
                    <div class="prod-image">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#${product.id}"><img src="${imageUrl}"></a>
                    </div>
                    <div class="prod-details">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#${product.id}">${product.name}</a>
                        <div class="bottom-details d-flex justify-content-between">
                            <p class="card-text">${product.weight} кг</p>
                            <p class="card-text" style="font-size: 17px;">${product.price} руб</p>
                        </div>
                    </div>
                </div>
            `;
            gridContainer.appendChild(productCard);
        });
    }

    function filterProducts(searchText) {
        products = all_prods;
        searchText = searchText.toLowerCase();

        let filteredProducts = products.filter(function(product) {
            return product.name.toLowerCase().includes(searchText);
        });
        products = filteredProducts;
        renderGrid();
    }

    function onSearchInputChange() {
        let searchText = document.getElementById('product-search-cat').value;
        filterProducts(searchText);
    }
    document.getElementById('product-search-cat').addEventListener('input', onSearchInputChange);
    renderGrid();
</script>


{% endblock %}
