{% extends 'main.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
{% endblock %}
    {% block content %}
    <div class="search-box">
        <input type="text" id="product-search" class="form-control" placeholder="Поиск..." onchange="get_prod()">
    </div>
    <!-- This goes somewhere in your main layout -->
    <button style="
        margin-top: 20px;
        margin-left: 10px;
        background-color: rgb(26, 91, 145);
        border-color: white;
        width: 100px;
    "class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft">Каталог</button>
    <!-- This is your sidebar -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasLeftLabel" style="color: rgb(26, 91, 145); font-size: 25px;">Категории</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!-- Here you can add your content or links -->
            <ul>
                {% for cat, product_list in data.items() %}
                    <li><a href="filter_category/{{ cat.id }}" style="text-decoration: none; color: #61917c; font-size: 20px;">{{ cat.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="main-part">
            {% for cat, product_list in data.items() %}
                <h4 style="color: rgb(26, 91, 145);">
                    {{ cat.name }}
                </h4>
                <div class="slide-container">
                    <div class="slide-content">
                        {% for product in product_list %}
                        <div class="product-card">
                            <div class="prod-image">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#{{ product.id }}"><img src="{{ url_for('static', filename=product.image_path) }}" alt=""></a>
                            </div>
                            <div class="prod-details">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#{{ product.id }}">{{ product.name }}</a>
                                <div class="bottom-details d-flex justify-content-between">
                                    <p class="card-text">{{ product.weight }} кг</p>
                                    <p class="card-text" style="font-size: 17px;">{{ product.price }} руб</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="static/js/flask_app.js"></script>
{% endblock %}
