{% extends 'main.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}
{% block content %}
<div id="overlay"></div>
<div id="popup">
    <p>Мы используем куки файлы</p>
    <button onclick="UseCookie()" class="cookie-button">OK</button>
    <button onclick="DontUseCookie()" style="background-color: rgb(187, 33, 72); border-color: white;">NO</button>
</div>
<div class="container">
    <div class="row justify-content-center align-items-center d-flex">
    <!-- Карточка №1 -->
            <div class="col-lg-3 col-sm-6">
                <div class="card" style="width: 16rem;">
                    <img src="{{ url_for('static', filename='images/eda_2.jpeg') }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Овощи и фрукты</h5>
                        <p class="card-text">Регулярные поставки свежих фруктов с гарантией качества</p>
                        <a href="#" class="btn btn-primary">перейти</a>
                    </div>
                </div>
            </div>
        <!-- Карточка №2 -->
        <div class="col-lg-3 col-sm-6">
            <div class="card" style="width: 16rem;">
                <img src="{{ url_for('static', filename='images/sweets.jpeg') }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Cладости</h5>
                    <p class="card-text">Познакомьтесь с новыми видами конфет, печенья и мармелада</p>
                    <a href="#" class="btn btn-primary">перейти</a>
                </div>
            </div>
        </div>
        <!-- Карточка №3 -->
        <div class="col-lg-3 col-sm-6">
            <div class="card" style="width: 16rem;">
                <img src="{{ url_for('static', filename='images/ready_food_3.jpeg') }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Готовая еда</h5>
                    <p class="card-text">Продукты кулинарии с доставкой на дом</p>
                    <a href="#" class="btn btn-primary">перейти</a>
                </div>
            </div>
        </div>
        <!-- Карточка №4 -->
        <div class="col-lg-3 col-sm-6">
            <div class="card" style="width: 16rem;">
                <img src="{{ url_for('static', filename='images/kitchen_2.jpeg') }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Посуда и кухонная утварь</h5>
                    <p class="card-text">Pазнообразная, оригинальная и удобная кухонная посуда для ценителей кулинарного искусства</p>
                    <a href="#" class="btn btn-primary">перейти</a>
                </div>
            </div>
        </div>
        <img src="{{ url_for('static', filename='images/sbermarket.png') }}" style="padding-top: 40px;">
        </div>
    </div>
</div>

<script>
    let cookie_flag = JSON.parse('{{ cookie_flag|tojson|safe }}')

    function closePopup() {
        document.getElementById('overlay').style.display = 'none';
        document.getElementById('popup').style.display = 'none';
    }

    function openPopup() {
        document.getElementById('overlay').style.display = 'block';
        document.getElementById('popup').style.display = 'block';
    }

    function UseCookie() {
        axios.get('/add_cookies')
        closePopup();
    }

    function DontUseCookie() {
        closePopup();
    }

   window.onload = function() {
    if (!cookie_flag) { openPopup()};
};
</script>
{% endblock %}