{% extends 'main.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}
{% block content %}
<div class="main-part">
    <h2 style="padding-top: 30px;">
        {{ full_name }}
    </h2>
    <p>
        {{ email }}
    </p>
    <div id="orders">
    </div>
</div>
<script>
    ordersDiv = document.getElementById('orders')
    axios.get('/user_orders').then(response => {
            let orders = response.data;
            orders.forEach(order => {
                orderDiv = document.createElement('div');
                OrderDate = document.createElement('p');
                OrderDate.textContent = order.date;
                orderDiv.appendChild(OrderDate);
                productsDiv = document.createElement('div');
                order.products.forEach(image_path => {
                    image = document.createElement('img');
                    image.src = `http://localhost:5000/static/${image_path}`;
                    productsDiv.appendChild(image);
                })
                orderDiv.appendChild(productsDiv);
                ordersDiv.appendChild(orderDiv);
            });
        }
    )
</script>
{% endblock %}