<html lang="en"><head>
    <meta charset="UTF-8">
    <title>Login Page with Background Image Example</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/signin.css') }}">
    </head>
    <body>
        <form action="/signin" method="post">
            <div class="form-field">
            <input type="string" name="username" placeholder="Username" required="">
            </div>
            <div class="form-field">
                <input type="password" name="password" placeholder="Password" required=""> </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h5>{{ message }}</h5>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="form-field">
            <button class="btn" type="submit">Войти</button>
            </div>
            <a href="/signup" style="color: rgb(38, 96, 184); text-decoration: none;">Зарегестрироваться</a>
        </form>
    </body>
</html>