.card {
    margin-top: 20px;
}
.card-title {
    font-size: 17px;
    text-align: center;
}
.card-text {
    font-size: 13px;
    text-align: center;
}

.card:hover {
    background: rgb(219, 242, 247);
}

.card .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #b2ebfc;
    border-color: white;
    color: rgb(55, 55, 99);
}