.delete-poduct {
    width: 206px; 
    height: 25px; 
    margin-bottom: 10px; 
    margin-left: 7px;
    border-radius: 15px;
    background-color: rgb(214, 73, 73);
    border: none;
    color: aliceblue;
    font-size: 14px;
}

.plus {
    height: 25px; 
    margin-right: 20px;
    background-color: white;
    border: none;
    font-size: 12px;
    color: #2d7d59;
}

.minus {
    height: 25px; 
    margin-left: 15px;
    background-color: white;
    border: none;
    font-size: 12px;
    color: #2d7d59;
}

.product-number {
    color: #2d7d59;
    font-size: 16px;
}

#to_buy {
    height: 45px;
    width: 250px;
    border-radius: 10px;
    border: none;
    color: aliceblue;
    font-size: 20px;
    background-color: #4f8fe3;
    position: fixed;
    bottom: 40px; 
    right: 60px;  
}
